<p><strong>Important Item</strong></p>
<p><em>This text has added influence</em></p>
<p class="elr-bold">Some bold text</p>
<p class="elr-italic">Italicized text</p>
<p class="elr-highlight">Some highlighted text</p>
<p class="elr-text-success">Success Text</p>
<p class="elr-text-warning">A Warning</p>
<p class="elr-text-danger">Something dangerous happened</p>
<p class="elr-text-muted">Some muted text</p>
