<ul class="sg-colors">
        <li>
        <span class="sg-swatch" style="background: #8b95a1;"></span>
        <span class="sg-label">
            $blue-grey <br />
            #8b95a1
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #27343d;"></span>
        <span class="sg-label">
            $dark-blue <br />
            #27343d
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #ef0c71;"></span>
        <span class="sg-label">
            $pink <br />
            #ef0c71
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #4ecdc4;"></span>
        <span class="sg-label">
            $teal <br />
            #4ecdc4
        </span>
    </li>
    <li>
        <span class="sg-swatch" style="background: #b6e8e8;"></span>
        <span class="sg-label">
            $light-teal <br />
            #b6e8e8
        </span>
    </li>
</ul>