<h3 class="sans-font elr-light">Roboto Light</h3>
<h3 class="sans-font">Roboto Normal</h3>
<h3 class="sans-font elr-bold">Roboto Bold</h3>
<h3 class="sans-font elr-black">Roboto Black</h3>

<h3 class="serif-font elr-light">Roboto Slab Light</h3>
<h3 class="serif-font">Roboto Slab Normal</h3>