<div class="elr-row">
    <div class="grid-item elr-bold elr-col-1">1 Col</div>
</div>
<div class="elr-row">
    <div class="grid-item elr-bold elr-col-2">2 Col</div>
</div>
<div class="elr-row">
    <div class="grid-item elr-bold elr-col-3">3 Col</div>
</div>
<div class="elr-row">
    <div class="grid-item elr-bold elr-col-4">4 Col</div>
</div>
<div class="elr-row">
    <div class="grid-item elr-bold elr-col-5">5 Col</div>
</div>
<div class="elr-row">
    <div class="grid-item elr-bold elr-col-6">6 Col</div>
</div>
<div class="elr-row">
    <div class="grid-item elr-bold elr-col-7">7 Col</div>
</div>
<div class="elr-row">
    <div class="grid-item elr-bold elr-col-8">8 Col</div>
</div>
<div class="elr-row">
    <div class="grid-item elr-bold elr-col-9">9 Col</div>
</div>
<div class="elr-row">
    <div class="grid-item elr-bold elr-col-10">10 Col</div>
</div>
<div class="elr-row">
    <div class="grid-item elr-bold elr-col-11">11 Col</div>
</div>
<div class="elr-row">
    <div class="grid-item elr-bold elr-col-12">12 Col</div>
</div>
<div class="elr-row">
    <div class="grid-item elr-bold elr-col-quarter">Quarter</div>
</div>
<div class="elr-row">
    <div class="grid-item elr-bold elr-col-third">Third</div>
</div>
<div class="elr-row">
    <div class="grid-item elr-bold elr-col-half">Half</div>
</div>
<div class="elr-row">
    <div class="grid-item elr-bold elr-col-full">Full</div>
</div>